<h1>Show page</h1>

<%= @sandwich.name %><br>

<h3>Ingredients</h3>
<% @sandwich.ingredients.each do |ingredient|  %>
  <li><%= ingredient.name %></li>
<% end %>

<%= button_to "Delete Sandwich", {}, { method: :delete } %>
<%= link_to "Edit", edit_sandwich_path(@sandwich) %>
