<h1>Welcome!</h1>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h2>Here are all the Restaurants</h2>

<h1>Welcome To The Main page</h1>

<ol>
  Please, select a restaurant:
  <% @restaurants.each do |restaurant| %>
    <a href=<%= restaurant_path(restaurant) %>><li><%= restaurant.name %></li></a>
  <% end %>
</ol>

<button type="button" name="button"><%= link_to 'Take Me To My Profile', @user %></button>
