<h1>Welcome!</h1>

<h2>Here are all the Restaurants</h2>


<ol>
  <% @restaurants.each do |restaurant| %>
      <a href=<%= restaurant_path(restaurant) %>><li><%= restaurant.name %></li></a>
  <% end %>
</ol>
